.row {
    justify-content: center;
}

.title {
    text-align: center;
}

.text-danger {
    margin: 2px;
}

.btsubmit {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
}

.flex-grow-1 {
    display: flex;
    justify-content: space-evenly;
}

.buttoncuston {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
