@model QuanLySinhVien_CuoiKi.Models.Khoa

@{
    ViewData["Title"] = "QUẢN LÝ KHOA";
}

<h1 class="title">XOÁ THÔNG TIN KHOA</h1>

<h3>Chắc chắn xoá thông tin về khoa này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Tên khoa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhoa)
        </dd>
        <dt class = "col-sm-2">
            Trường
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTruongNavigation.MaTruong)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaKhoa" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> 
        <a class="buttoncuston" asp-action="Index">Trở về</a>
    </form>
</div>
