@model QuanLySinhVien_CuoiKi.Models.Khoa

@{
    ViewData["Title"] = "QUẢN LÝ KHOA";
}

<h1 class="title">THÔNG TIN CHI TIẾT KHOA</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên khoa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenKhoa)
        </dd>
        <dt class="col-sm-2">
            Trường
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaTruongNavigation.MaTruong)
        </dd>
    </dl>
</div>
<div>
    <a class="buttoncuston" asp-action="Edit" asp-route-id="@Model?.MaKhoa">Sửa</a>
    <a class="buttoncuston" asp-action="Index">Trở về</a>
</div>
