@model QuanLySinhVien_CuoiKi.Models.LopSinhHoat

@{
    ViewData["Title"] = "QUẢN LÝ LỚP SINH HOẠT";
}

<h1 class="title">XOÁ THÔNG TIN LỚP SINH HOẠT</h1>


<h3>Chắc chắn muốn xoá thông tin về lớp học phần này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã lớp sinh hoạt
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaLopSh)
        </dd>
        <dt class="col-sm-2">
            Tên lớp sinh hoạt
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenLopSh)
        </dd>
        <dt class="col-sm-2">
            Mã khoa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaKhoaNavigation.MaKhoa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaLopSh" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a class="buttoncuston" asp-action="Index">Trở về</a>
    </form>
</div>
