@model QuanLySinhVien_CuoiKi.Models.LopSinhHoat

@{
    ViewData["Title"] = "QUẢN LÝ LỚP SINH HOẠT";
}

<h1 class="title">THÔNG TIN CHI TIẾT LỚP SINH HOẠT</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã lớp sinh hoạt
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaLopSh)
        </dd>
        <dt class = "col-sm-2">
           Tên lớp sinh hoạt
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLopSh)
        </dd>
        <dt class = "col-sm-2">
            Mã khoa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhoaNavigation.MaKhoa)
        </dd>
    </dl>
</div>
<div>
    <a class="buttoncuston" asp-action="Edit" asp-route-id="@Model?.MaLopSh">Sửa</a>
    <a class="buttoncuston" asp-action="Index">Trở về</a>
</div>
