@model QuanLySinhVien_CuoiKi.Models.LopHocPhan

@{
    ViewData["Title"] = "QUẢN LÝ LỚP HỌC PHẦN";
}


<h1 class="title">XOÁ THÔNG TIN LỚP HỌC PHẦN</h1>

<h3>Chắc chắn xoá thông tin về lớp học phần này?</h3>
<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Mã học phần
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaHocPhanNavigation.MaHocPhan)
        </dd>
        <dt class="col-sm-2">
            Mã sinh viên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaSvNavigation.MaSv)
        </dd>
        <dt class="col-sm-2">
            Điểm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diem)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaSv" />
        <input type="hidden" asp-for="MaHocPhan" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a class="buttoncuston" asp-action="Index">Trở về</a>
    </form>
</div>
