@model QuanLySinhVien_CuoiKi.Models.LopHocPhan

@{
    ViewData["Title"] = "QUẢN LÝ LỚP HỌC PHẦN";
}


<h1 class="title">SỬA THÔNG TIN LỚP HỌC PHẦN</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaSv" />
            <input type="hidden" asp-for="MaHocPhan" />
            <div class="form-group">
                <label asp-for="Diem" class="control-label">Điểm</label>
                <input asp-for="Diem" class="form-control" />
                <span asp-validation-for="Diem" class="text-danger"></span>
            </div>
            <div class="btsubmit">
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                    <a class="buttoncuston" asp-action="Index">Trở về</a>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
