@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center" style="background-color: #e0f7fa; padding: 40px;">
    <h1 class="display-4" style="color: #00695c; font-weight: bold;">
        Chào mừng bạn đến với hệ thống quản lý của trường Đại học Sư phạm Kỹ thuật Đà Nẵng
    </h1>
</div>
