@model QuanLySinhVien_CuoiKi.Models.SinhVien

@{
    ViewData["Title"] = "QUẢN LÝ SINH VIÊN";
}

<h1 class="title">THÊM MỚI SINH VIÊN</h1>
<style>

</style>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" style="align-content:center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSv" class="control-label">Mã sinh viên</label>
                <input asp-for="MaSv" class="form-control" />
                <span asp-validation-for="MaSv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSv" class="control-label">Họ và tên</label>
                <input asp-for="TenSv" class="form-control" />
                <span asp-validation-for="TenSv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label">Ngày sinh</label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label">Giới tính</label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label">SĐT</label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLopSh" class="control-label">Lớp sinh hoạt</label>
                <select asp-for="MaLopSh" class ="form-control" asp-items="ViewBag.MaLopSh"></select>
            </div>
            <div class="btsubmit">
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
                    <a class="buttoncuston" asp-action="Index">Trở về</a>
            </div>
            </div>
        </form>
    </div>
</div>

<div>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
